/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are provided by the comic_git_engine by files in the `css/` directory.
I do not recommend messing with those settings unless you know what you're doing, or you're
willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

/* Global values */
body {
    font-family: "Balsamiq Sans", sans-serif;  /* The font of all the text on all pages */
    color: black;  /* The color of the font of all of the text on your whole website, except links.
                      If you want to change the color of text in certain parts of the page, and not the whole site,
                      you can define `color` in other blocks and it will only apply to that element and all
                      of the elements it contains. */
    background-color: white;  /* The color of the background behind everything */
    background-image: url("../../../images/bgartfixed.png");
	background-size: contain;
}

h1, h2, h3 {
    font-family: 'Balsamiq Sans', cursive;
}

a {
    color: #2E9BC7;  /* The color of the hyperlinks */
}

#container {
	max-width: 1000px;
	margin-top: 15px;
	padding-top: 0px;
	margin-top: 10px;
}

#banner-img {
	max-width: 1000px;
	transition: opacity 0.2s ease;
}

#banner-img:hover {
	opacity: 0.8;
}

.comic-image {
	max-width: 1000px;
	border-radius: 25px;
	border: 10px solid #E3DBC0;
	margin-left: -10px;
}

.archive-thumbnail-page img {
  width: 100px;
}

img {
	max-width: 1000px;
}

/* Top navigation links bar */
#links-bar {
}

a.link-bar-link {
    color: white;  /* The color of the links in your links bar */
	padding: 8px 20px;
	border-radius: 50px;
	text-decoration: none;
	color: #F9F4EE;
	background-color: #47604B;
	transition: background-color 0.2s, color 0.2s;
	line-height: 2.4;
}

.link-bar-separator {
  margin: 0px 1px;
  visibility: hidden;
}

a.link-bar-link:hover {
    background-color: #bbcc97;
}

/* Comic navigation buttons */
a.navigation-button {
    color: #2E9BC7;  /* Color of the navigation bar hyperlinks */
    font-size: 2em;  /* Size of the navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your navigation links to be underlined */
}

a.navigation-button-disabled {
    color: gray;  /* Color of the disabled navigation bar hyperlinks */
    font-size: 2em;  /* Size of the disabled navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your disabled navigation links to be underlined */
}

/* Buttons: turn any link into a button by adding class="button" within the <a> tag */
.button {
    background-color: #2E9BC7;  /* Color of button hyperlinks */
    color: white;  /* Color of the words in button hyperlinks */
}

.button:hover {
    background-color: #62C5E8;  /* Color of button hyperlinks when the mouse hovers over it */
    color: white;    /* Color of the words in button hyperlinks when the mouse hovers over it */
}

/* The blue background with the dotted borders that shows up on most pages. */
#blurb {
	background-color: #E3D8C0;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
	width: 75%;  /* The maximum width of the blurb box. */
	border-radius: 25px;
	border: 10px solid #E3DBC0;
	margin-left: -10px;
}

.profilePic {
	width: 138px;
}

/* This is just some code to make monospaced text a little more readable */
code {
    font-size: 120%;  /* Make the text a little bigger */
    background-color: #F0F0F0;  /* Give it a very light gray background */
    border: 1px solid gray;  /* Give it a gray border... */
    border-radius: 5px;  /* ... with rounded corners. */
    padding-left: 5px;  /* A little padding between the text and the border on the left... */
    padding-right: 5px;  /* ... and the right. */
    white-space: pre; /* Prevents code blocks from being word-wrapped */
}

#post-title {
    color: black;  /* Color of the post title */
    font-size: 2em;  /* Font size of the post title */
    font-family: 'Roboto Slab', cursive;
}

#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

#storyline, #characters, #tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}

.polaroid {
	transition: filter 0.3s ease;
}
  
.polaroid:hover {
  filter: brightness(1.2);
}

.characterDetails {
  text-align: left;
  color: #555001;
  font-family: "Caprasimo", sans-serif;
  margin-bottom: -6px;
}

.characterPortrait {
}

.portraitMaple {
	width: 303px;
	margin-left: 10px;
	margin-right: -10px;
}

.portraitSyrup {
	width: 343px;
	margin-left: -10px;
	margin-right: 10px;
}

.portraitBrie {
	width: 183px;
	margin-left: 20px;
	margin-right: 0px;
}

.portraitBarry {
	width: 343px;
	margin-left: -10px;
	margin-right: 10px;
}

#overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(24,28,23,0.8);
	z-index: 999;
	backdrop-filter: blur(4px);
}

#overlay:hover {
  cursor: pointer;
}

.bulletinBoard {
	border-radius: 25px;
	border: 8px solid #553923;
	margin: 0 auto;
	width: 1000px;
	height: 1100px;
	background-image: url("/happytrailscomic/your_content/images/castpage/boardbg.png");
}

.polaroidMaple {
	width: 363px;
	position: absolute;
	z-index: 1000;
	top: 610px;
	left: 279px;
}

.polaroidSyrup {
	width: 363px;
	position: absolute;
	z-index: 1000;
	top: 731px;
	left: 829px;
}

.polaroidBarry {
	width: 383px;
	position: absolute;
	z-index: 1000;
	top: 1201px;
	left: 769px;
}

.polaroidBrie {
	width: 373px;
	position: absolute;
	z-index: 1000;
	top: 1081px;
	left: 299px;
}

#descriptionMaple {
	background-color: #E3D8C0;
	border-radius: 25px;
	border: 10px solid #E3DBC0;
	margin-left: -10px;
	position: fixed;
	z-index: 1001;
	width: 870px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

#descriptionSyrup {
	background-color: #E3D8C0;
	border-radius: 25px;
	border: 10px solid #E3DBC0;
	margin-left: -10px;
	position: fixed;
	z-index: 1001;
	width: 870px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

#descriptionBarry{
	background-color: #E3D8C0;
	border-radius: 25px;
	border: 10px solid #E3DBC0;
	margin-left: -10px;
	position: fixed;
	z-index: 1001;
	width: 870px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

#descriptionBrie {
	background-color: #E3D8C0;
	border-radius: 25px;
	border: 10px solid #E3DBC0;
	margin-left: -10px;
	position: fixed;
	z-index: 1001;
	width: 870px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.characterBox {
	display: flex;
	gap: 12px;
	align-items: flex-start;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
}